@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1465447142348-e9952c393450?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80) fixed no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.login {
  width: 40vw;
  height: 100vh;
  text-align: center;
}

.login .frosted {
  height: 100vh;
  border-radius: 0;
}

.login .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.login .logo {
  margin: 1rem auto;
}

.login .logo img {
  width: 150px;
  margin-bottom: 1rem;
}

.login input {
  border: 0px;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  outline: 0;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.login button {
  padding: 1rem;
  width: 100%;
  color: #fff;
  background-color: #0285ff;
  border: 0;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.login button:hover {
  background-color: #066ac7;
}

.login a {
  color: #fff;
  text-decoration: none;
}

.login a:hover, .login a:active, .login a:focus {
  color: #c5c5c5;
}

.frosted {
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.55);
  padding: 1rem;
}

.chat {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 350px;
  z-index: 1;
}

.chat .rep {
  float: left;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-image: url(https://images.unsplash.com/photo-1580489944761-15a19d654956?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=60&q=60);
  background-position: center;
  background-repeat: no-repeat;
}

.chat .msg {
  float: right;
  font-size: 0.8rem;
  color: #333;
  width: calc(100% - 75px);
  padding: 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.25rem;
}

.chat input {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0;
  outline: 0;
  padding: 0.75rem;
  margin-top: 0.5rem;
  width: 100%;
}

.chat button {
  margin-left: -35px;
  position: relative;
  top: 8px;
  height: 25px;
  width: 25px;
  border: 0;
  background-color: transparent;
  background-image: url(../img/msg.png);
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
  cursor: pointer;
}

@media only screen and (orientation: landscape) and (max-width: 812px) {
  body {
    font-size: 14px;
  }
  .login .logo img {
    max-width: 30%;
  }
  .login input,
  .login button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .login {
    width: 100vw;
  }
  .login .frosted {
    height: 100vh;
  }
  .frosted {
    box-shadow: none;
  }
}

@media only screen and (max-width: 767px) {
  .login .inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
  }
  .chat {
    right: 1rem;
    width: calc(100% - 2rem);
  }
}
